body {
  margin: 0;
}
header {
  background: #eee;
  border-bottom: 1px solid #999;
  padding: 1rem;
}

textarea#svgInput {
  width: 100%;
}

.previewWrapper {
  padding: 1rem;
  background: #efefef;
}

.previewWrapper svg {
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%),
    linear-gradient(-45deg, #808080 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #808080 75%),
    linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
